##

# A stylized FTT model. Specified in Latex

## A Future Technology Transformations (FTT) model 
Future Technology Transformations (FTT) is a framework for technology diffusion model based on simulation rather than optimization approach that is more commonly used. The FTT framework currently exists for power, road transport, steel and heating sectors 

Original paper:  [Mercure, J.-F. et al. The dynamics of technology diffusion and the impacts of climate policy instruments in the decarbonisation of the global electricity sector. Energy Policy 73, 686–700.](https://www.sciencedirect.com/science/article/pii/S0301421514004017)

The model below is a very simple version. The purpose is to show some of the properties and how to set up an model in Latex

## Import libraries

In [57]:
#This is code to manage dependencies if the notebook is executed in the google colab cloud service
if 'google.colab' in str(get_ipython()):
  import os
  os.system('apt -qqq install graphviz')
  os.system('pip -qqq install ModelFlowIb ipysheet  --no-dependencies ')

In [58]:
%load_ext autoreload
%autoreload 2

import pandas as pd
from IPython.core.display import HTML,Markdown,Latex


from modelclass import model
import modeljupytermagic

# some useful stuf
model.widescreen()
pd.set_option('display.max_rows', None, 'display.max_columns', 10, 'display.precision', 4)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Load model 
The model  **ftt** which was created in is loaded.

In [59]:
mftt, baseline = model.modelload('../../../../model_repo/ftt.pcim')

file read:  C:\modelflow manual\model_repo\ftt.pcim

In [60]:
baseline = baseline[sorted(baseline.columns)] # Just neat to sort the columns

In [61]:
display(Markdown(mftt.equations_latex))

A very simple FTT model.

Two lists of technology  are defined:

List $i =\{t1, t2, t3 ,t4\}$

List $j = \{t1, t2, t3, t4 \}$



\begin{equation}
\label{eq:SHARES2}
\Delta Share^{i} = \sum_{j}(Share^{i} \times Share^{j} \times
                            (\underbrace{F^{i,j}}_{Preferences}/\underbrace{\tau^{j}}_{Life expectancy}
                             - F^{j,i}/\tau^{i}))
\end{equation}


\begin{equation}
\label{eq:preferences}
\underbrace{F^{i,j}}_{Preferences} = \frac{1}{
1+exp(
    \frac{(C^{i}-C^{j})}{\sigma^{i,j}} )}
\end{equation}

\begin{equation}
\label{eq:sigma}
\sigma^{i,j} = \sqrt{\sigma^{i}**2 \times \sigma^{j}**2}
\end{equation}



\begin{equation}
\label{eq:UD}
UsefulDemand^{i} = Share^{i} \times UsefulDemand\_total
\end{equation}

\begin{equation}
\label{eq:UD_total}
UsefulDemand\_total  = UsefulDemand\_total_{t-1} \times
(1+\frac{UsefulDemand\_total\_growth}{100})
\end{equation}

To check, that the shares add up to one.

\begin{equation}
\label{eq:check_shares}
Share\_total  = \sum_{i}(Share\_{i})
\end{equation}

In [62]:
baseline.head().T

                               2021      2022      2023      2024      2025
C_T1                         4.0000    4.0000    4.0000    4.0000    4.0000
C_T2                         5.0000    5.0000    5.0000    5.0000    5.0000
C_T3                         4.0000    4.0000    4.0000    4.0000    4.0000
C_T4                        10.0000   10.0000   10.0000   10.0000   10.0000
F_T1_T1                      0.0000    0.5000    0.5000    0.5000    0.5000
F_T1_T2                      0.0000    0.5622    0.5622    0.5622    0.5622
F_T1_T3                      0.0000    0.5000    0.5000    0.5000    0.5000
F_T1_T4                      0.0000    0.8176    0.8176    0.8176    0.8176
F_T2_T1                      0.0000    0.4378    0.4378    0.4378    0.4378
F_T2_T2                      0.0000    0.5000    0.5000    0.5000    0.5000
F_T2_T3                      0.0000    0.4378    0.4378    0.4378    0.4378
F_T2_T4                      0.0000    0.7773    0.7773    0.7773    0.7773
F_T3_T1                      0.0000    0.5000    0.5000    0.5000    0.5000
F_T3_T2                      0.0000    0.5622    0.5622    0.5622    0.5622
F_T3_T3                      0.0000    0.5000    0.5000    0.5000    0.5000
F_T3_T4                      0.0000    0.8176    0.8176    0.8176    0.8176
F_T4_T1                      0.0000    0.1824    0.1824    0.1824    0.1824
F_T4_T2                      0.0000    0.2227    0.2227    0.2227    0.2227
F_T4_T3                      0.0000    0.1824    0.1824    0.1824    0.1824
F_T4_T4                      0.0000    0.5000    0.5000    0.5000    0.5000
SHARE_T1                     0.3333    0.3379    0.3423    0.3468    0.3511
SHARE_T2                     0.3333    0.3242    0.3153    0.3065    0.2978
SHARE_T3                     0.3333    0.3379    0.3423    0.3468    0.3511
SHARE_T4                     0.0000    0.0000    0.0000    0.0000    0.0000
SHARE_TOTAL                  0.0000    1.0000    1.0000    1.0000    1.0000
SIGMA_T1                     2.0000    2.0000    2.0000    2.0000    2.0000
SIGMA_T1_T1                  0.0000    4.0000    4.0000    4.0000    4.0000
SIGMA_T1_T2                  0.0000    4.0000    4.0000    4.0000    4.0000
SIGMA_T1_T3                  0.0000    4.0000    4.0000    4.0000    4.0000
SIGMA_T1_T4                  0.0000    4.0000    4.0000    4.0000    4.0000
SIGMA_T2                     2.0000    2.0000    2.0000    2.0000    2.0000
SIGMA_T2_T1                  0.0000    4.0000    4.0000    4.0000    4.0000
SIGMA_T2_T2                  0.0000    4.0000    4.0000    4.0000    4.0000
SIGMA_T2_T3                  0.0000    4.0000    4.0000    4.0000    4.0000
SIGMA_T2_T4                  0.0000    4.0000    4.0000    4.0000    4.0000
SIGMA_T3                     2.0000    2.0000    2.0000    2.0000    2.0000
SIGMA_T3_T1                  0.0000    4.0000    4.0000    4.0000    4.0000
SIGMA_T3_T2                  0.0000    4.0000    4.0000    4.0000    4.0000
SIGMA_T3_T3                  0.0000    4.0000    4.0000    4.0000    4.0000
SIGMA_T3_T4                  0.0000    4.0000    4.0000    4.0000    4.0000
SIGMA_T4                     2.0000    2.0000    2.0000    2.0000    2.0000
SIGMA_T4_T1                  0.0000    4.0000    4.0000    4.0000    4.0000
SIGMA_T4_T2                  0.0000    4.0000    4.0000    4.0000    4.0000
SIGMA_T4_T3                  0.0000    4.0000    4.0000    4.0000    4.0000
SIGMA_T4_T4                  0.0000    4.0000    4.0000    4.0000    4.0000
TAU_T1                       3.0000    3.0000    3.0000    3.0000    3.0000
TAU_T2                       3.0000    3.0000    3.0000    3.0000    3.0000
TAU_T3                       3.0000    3.0000    3.0000    3.0000    3.0000
TAU_T4                       3.0000    3.0000    3.0000    3.0000    3.0000
USEFULDEMAND_T1              0.0000   34.8007   36.3194   37.8904   39.5149
USEFULDEMAND_T2              0.0000   33.3975   33.4501   33.4909   33.5200
USEFULDEMAND_T3              0.0000   34.8007   36.3194   37.8904   39.5149
USEFULDEMAND_T4              0.0000    0.0000    0.0000    0.0000    0.0000
USEFULDEMAND_TOTAL         100.0000  103.0000  106.0900  109.2727  112.5509
USEFULDEMAND_TOTAL_GROWTH    3.0000    3.0000    3.0000    3.0000    3.0000

## Create simple scenarios

In [66]:
alt_dict = {}

alt_dict['T2 cost reduction'] = baseline.upd('<2021 -1> C_t2 + -2',lprint=0)
alt_dict['T3 increased tax']  = baseline.upd('<2021 -1> C_t3 + 2')
alt_dict['T4 Kickstart']  = baseline.upd('''<2021 2027> C_t4 = 9 8 7 6 5 4 2 --kg
                                            <2021> SHARE_t4 = 0.1   ''',lprint=0)   # To get T4 moving 
alt_dict['Reduced demand']  = baseline.upd('<2021 2027>  USEFULDEMAND_TOTAL_GROWTH = 1 0 -0.5 -1 -1.5 -2 -2.5 --kg')

In [67]:
for scenario,df in alt_dict.items():
    _ = mftt(df,keep = f'{scenario}')

In [68]:
mftt.keep_show()

VBox(children=(HBox(children=(SelectMultiple(description='Select one or more', index=(0, 1, 2, 3, 4), layout=L…