In [1]:
#some stuff to make Jupyter notebooks run a bit more smoothly 
%load_ext autoreload
%autoreload 2

#This is code to manage dependencies if the notebook is executed in the google colab cloud service
if 'google.colab' in str(get_ipython()):
  import os
  os.system('apt -qqq install graphviz')
  os.system('pip -qqq install ModelFlowIb ipysheet  --no-dependencies ')
  incolab = True  
else:
  incolab = False

In [2]:
import pandas as pd  # Python data science library
import modelmf       # Add useful features to pandas dataframes 
                     # using utlities initially developed for modelflow

In [3]:
df = pd.DataFrame(                                 # call the dataframe constructure 
    100.000,                                           # the values 
    index=[v for v in range(2020,2026)],           #index
    columns=['A']                                  # the column name 
                 )
df   # the result of the last statement is displayed in the output cell

          A
2020  100.0
2021  100.0
2022  100.0
2023  100.0
2024  100.0
2025  100.0

In [4]:
df.mfcalc('x = x(-1) + a')

* Take care. Lags or leads in the equations, mfcalc run for 2021 to 2022

          A      X
2020  100.0    0.0
2021  100.0  100.0
2022  100.0  200.0
2023  100.0  300.0
2024  100.0  400.0
2025  100.0  500.0

In [5]:
df

          A
2020  100.0
2021  100.0
2022  100.0
2023  100.0
2024  100.0
2025  100.0

In [6]:
df2=df.mfcalc('x = x(-1) + a') # Assign the result to df2
df2

* Take care. Lags or leads in the equations, mfcalc run for 2021 to 2022

          A      X
2020  100.0    0.0
2021  100.0  100.0
2022  100.0  200.0
2023  100.0  300.0
2024  100.0  400.0
2025  100.0  500.0

In [7]:

res = df.mfcalc('a =  1.02 *  a(-1)')
res

* Take care. Lags or leads in the equations, mfcalc run for 2021 to 2022

               A
2020  100.000000
2021  102.000000
2022  104.040000
2023  106.120800
2024  108.243216
2025  110.408080

In [8]:
res.pct_change()*100 # to display the percent changes

        A
2020  NaN
2021  2.0
2022  2.0
2023  2.0
2024  2.0
2025  2.0

In [9]:
df.mfcalc('dlog( a) =  0.02',showeq=1);

* Take care. Lags or leads in the equations, mfcalc run for 2021 to 2022
FRML <> A=EXP(LOG(A(-1))+0.02)$

In [10]:
df.mfcalc('diff(a) =  2',showeq=1)

* Take care. Lags or leads in the equations, mfcalc run for 2021 to 2022
FRML <> A=A(-1)+(2)$

          A
2020  100.0
2021  102.0
2022  104.0
2023  106.0
2024  108.0
2025  110.0

In [11]:
res = df.mfcalc('''
diff(a) =  2
x = a + 42 
''')

res

# use res.diff() to see the difference

* Take care. Lags or leads in the equations, mfcalc run for 2021 to 2022

          A      X
2020  100.0    0.0
2021  102.0  144.0
2022  104.0  146.0
2023  106.0  148.0
2024  108.0  150.0
2025  110.0  152.0

In [12]:
res1 = df.mfcalc('''
diff(a) =  2
''')

res2 = res1.mfcalc('''
x = a + 42 
''')
res2

* Take care. Lags or leads in the equations, mfcalc run for 2021 to 2022

          A      X
2020  100.0  142.0
2021  102.0  144.0
2022  104.0  146.0
2023  106.0  148.0
2024  108.0  150.0
2025  110.0  152.0

In [13]:
res = df.mfcalc('''
<2023 2025>
diff(a) =  2
x = a + 42 
''')

res.diff()

res

          A      X
2020  100.0    0.0
2021  100.0    0.0
2022  100.0    0.0
2023  102.0  144.0
2024  104.0  146.0
2025  106.0  148.0